<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ex00: Markdown Cheatsheet.</title>
</head>
<body>
	<!-- In
this page, gather all the informations about the whole Markdown syntax -->
<h1>Markdown Cheatsheet</h1>
<h2>Headers</h2>
<p># H1<br>
## H2<br>
### H3<br>
#### H4<br>
##### H5<br>
###### H6</p>

<h2>Emphasis</h2>
<p>*italic* or _italic_<br>
**bold** or __bold__<br>
***bold italic*** or ___bold italic___</p>

<h2>Lists</h2>
<p>Unordered:<br>
* Item 1<br>
* Item 2<br>
* Item 3</p>

<p>Ordered:<br>
1. Item 1<br>
2. Item 2<br>
3. Item 3</p>

<h2>Links</h2>
<p>[Link text](http://url)</p>

<h2>Images</h2>
<p>![Alt text](http://url/to/img.jpg)</p>

<h2>Blockquotes</h2>
<p>> This is a blockquote.</p>

<h2>Inline Code</h2>
<p>`inline code`</p>

<h2>Code Blocks</h2>
<p>```
<br>code block
<br>```</p>

<h2>Horizontal Rule</h2>
<p>---</p>

<h2>Tables</h2>
<p>| Header 1 | Header 2 |<br>
| -------- | -------- |<br>
| Cell 1   | Cell 2   |<br>
| Cell 3   | Cell 4   |</p>

<h2>Fenced Code Block</h2>
<p>```
<br>{
<br>  "firstName": "John",
<br>  "lastName": "Smith",
<br>  "age": 25
<br>}
<br>```</p>

<h2>Footnote</h2>
<p>Here's a sentence with a footnote. [^1]</p>
<p>[^1]: This is the footnote.</p>

<h2>Heading ID</h2>
<p>### My Great Heading {#custom-id}</p>

<h2>Definition List</h2>
<p>term<br>
: definition</p>

<h2>Strikethrough</h2>
<p>~~The world is flat.~~</p>

<h2>Task List</h2>
<p>- [x] Write the press release<br>
- [ ] Update the website<br>
- [ ] Contact the media</p>

<h2>Emoji</h2>
<p>That is so funny! :joy:</p>

<h2>Highlight</h2>
<p>I need to highlight these ==very important words==.</p>

<h2>Subscript</h2>
<p>H~2~O</p>

<h2>Superscript</h2>
<p>X^2^</p>
</body>
</html>